---
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const equipo = await getCollection("equipo");
const { Content } = await render(equipo);
//console.log(equipo);
---
<Layout title="Equipo organizador">
  <div class="h-full w-full bg-[var(--main-bg-color)]">
    <div class="flex flex-col gap-8 w-[80%] items-center justify-center mt-[8%] mb-[5%] mx-[10%] border-0 rounded-lg py-6 shadow-lg bg-gray-50">
      <h1>Nuestro equipo</h1>
      {await Promise.all(
        equipo.map(async (persona) => {
          const { Content } = await render(persona);
          const { nombre, cargo, foto, correo, reversed } = persona.data;
          if (!reversed) {
            return (
              <article class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl">
                <img dir="ltr" class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src={`/src/images/equipo/${foto}`} alt={`${nombre}`}>
                <div class="flex flex-col h-70 pt-5 px-4 text-wrap align-text-top leading-normal">
                <h2 class="mb-2 text-2xl font-bold tracking-tight">
                  {nombre}
                </h2>
                <h3 class="mb-2 text-xs font-bold tracking-tight">
                  {cargo}
                </h3>
                  <div class="text-xs text-gray-700">
                    <Content/>
                  </div>
                </div>
              </article>
            
            );
          } else {
            return (
                <article class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl">
                    <div class="flex flex-col h-70 pt-5 px-4 text-wrap align-text-top leading-normal">
                      <h2 class="mb-2 text-2xl font-bold tracking-tight">
                        {nombre}
                      </h2>
                      <h3 class="mb-2 text-xs font-bold tracking-tight">
                        {cargo}
                      </h3>
                      <div class="text-xs text-gray-700">
                          <Content />
                      </div>
                    </div>
                    <img dir='rtl' class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src={`/src/images/equipo/${foto}`} alt={`${nombre}`}>
                </article>
            );
          }
        })
      )}
    </div>
  </div>
</Layout>

